@import "tailwindcss";


body {
  background-color: #202432;
}

.dash-large {
  stroke-dasharray: 6; /* Adjust dash size */
  stroke-width: 1;
}

.border-dash-large {
  border-style: dashed;
  border-width: 1px;
  border-image: repeating-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 6px,
    transparent 6px,
    transparent 12px
  ) 1;
}